body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover {
  color: black;
}

tr:hover {
  background-color: lightskyblue;
}

.flex-cards {
  display: flex;
}