body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover {
  color: black;
}

tbody tr:hover {
  background-color: lightskyblue;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.arrow {
  font-size: 50px;
  width: 60px;
  margin: auto 0;
}

.card {
  width: 300px;
  height: 200px;
}